.showcase {
    display: flex;
    padding-top: 192px;
}

.showcase-text {
    width: 50%;
    margin-right: 64px;
}

.showcase-gallery {
    width: 50%;
    height: 600px;
    background-color: #bababa;
}