.showcase {
    display: flex;
    padding-top: 192px;
}
.showcase:last-of-type {
    padding-bottom: 192px;
}

.showcase-text {
    width: 45%;
    margin-right: 64px;
}

.showcase-gallery {
    width: 55%;
    height: 700px;
    background-color: #bababa;
}