/**
 * Font styling
 */
h1 {
  font-family: 'Oxygen', sans-serif;
  font-weight: 300;
  font-size: 4rem;
  line-height: 5rem;
}

h1.space-below-med {
  margin-bottom: 2rem;
}

h1.space-below-tall {
  margin-bottom: 4rem;
}

p {
  font-family: 'Noto Serif', serif;
  font-size: 1.125rem;
}

p.big {
  font-size: 1.5rem;
}

/**
 * Wrapper element
 */
 .wrapper {
  max-width: $content-width;
  max-width: $content-width;
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  box-sizing: content-box;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}

/** 
 * Make a section cover the entire page
 */
.fullscreen {
  width: 100%;
  height: 100%;
  height: 100vh;
}

