/**
 * Main body of frontpage splash
 */
.splash {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: #b9b9b9;
}

/**
 * Inner container of splash contents
 */
.splash-inner {
    position: absolute;
    width: 100%;
    max-width: 1080px;
}

.splash-block-right {
    float: right;
    width: 670px;
    height: 700px;
    background-color: #999999;
    box-sizing: border-box;
}

.splash-block-left {
    position: absolute;
    top: 48px;
    width: 700px;
    height: 500px;
    background-color: #f7f7f7;
    box-sizing: border-box;
    padding: 48px 64px; 
}

.splash-block-left h1 {
    float: right;
    text-align: right;
    max-width: 500px;
}

.splash-block-left p {
    float: right;
    text-align: right;
    max-width: 400px;
}

.navbar a {
    font-family: 'Oxygen' sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    marg: 0px 16px;
}

.navbar-desktop {
    position: absolute;
    bottom: 24px;
}