<section id="home-splash" class="showcase wrapper">

    <div class="showcase-text">
        <h1 class="space-below-med">Development</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ac malesuada lorem. Vivamus sapien lectus,
            lobortis in aliquam ut, tristique pharetra risus.
        </p>
        <p>
            Morbi eleifend sodales risus, at gravida nulla pellentesque et. Cras non felis quis libero molestie
            commodo.
        </p>
        <p>
            Fusce ligula justo, mattis ut mauris at, porta molestie massa.
        </p>
    </div>

    <div class="showcase-gallery">
    </div>

</section>