<section id="home-splash" class="fullscreen splash">

    <div class="splash-inner">
        <div class="splash-block-right">
        </div>

        <div class="splash-block-left">
            <h1 class="space-below-tall">
                I'm a designer and a developer
            </h1>
            <p>
                Hello. My name is Ørjan Blytt Polden. I'm a
                frontend web developer and UX designer situated
                in Bergen, Norway.
            </p>
        </div>

    </div>

    <nav id="navbar" class="navbar navbar-desktop navbar-mobile">
        <a>
            Design
        </a>
        <a>
            Development
        </a>
        <a>
            About
        </a>
    </nav>

</section>